body{
    width: 428px;
    height: 3300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}
.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 32px;
}
